<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="centered-title" color="light">
      2Market
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <mat-card class="product-details-card" appearance="outlined">
    <img mat-card-image src="../assets/icon/cargocorteiz.jpg" alt="Pantalones Cargo Corteiz">
    
    <mat-card-header>
      <mat-card-title>Pantalones Cargo Corteiz</mat-card-title>
      <mat-card-subtitle>Estado: Usado</mat-card-subtitle>
      <mat-card-subtitle>$19.990</mat-card-subtitle>
    </mat-card-header>
    <br>
    <mat-card-content>
      <p> En buen estado, con un ajuste cómodo y un estilo clásico que se adapta bien a cualquier ocasión.</p>
      <p><strong>Ubicación:</strong> Puerto Montt</p> 
      <p><strong>Talla:</strong> M</p>
      <p><strong>Color:</strong> Negro</p>
    </mat-card-content>
    
    <mat-card-actions>
      <ion-button expand="block" >Añadir al Carrito</ion-button>
      <ion-button expand="block" [routerLink]="['/bandejaentrada']">Contactar Vendedor</ion-button>
    </mat-card-actions>
  </mat-card>
</ion-content>