<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="centered-title" color="light">
      Administrador - Usuarios
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <h2 class="section-title">Usuarios Registrados</h2>
        <ion-card class="user-card">
          <ion-card-header>
            <ion-card-title></ion-card-title>
            <ion-card-subtitle></ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <p><strong>Teléfono:</strong></p>
            <p><strong>Fecha de Registro:</strong></p>
            <ion-item>
              <ion-input label="Nombre del publicacion" labelPlacement="floating" placeholder="Ingrese el nombre" [(ngModel)]="publicacion.titulo"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input label="Descripción" labelPlacement="floating" placeholder="Ingrese la descripción" [(ngModel)]="publicacion.descripcion"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input label="Talla" labelPlacement="floating" placeholder="Ingrese la talla" [(ngModel)]="publicacion.talla"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input label="Ubicación" labelPlacement="floating" placeholder="Ingrese la ubicación" [(ngModel)]="publicacion.ubicacion"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input label="Color" labelPlacement="floating" placeholder="Ingrese el color" [(ngModel)]="publicacion.color"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input type="number" label="Precio (CLP)" labelPlacement="floating" placeholder="Ingrese el precio" [(ngModel)]="publicacion.precio"></ion-input>
            </ion-item>
            <ion-button color="success" (click)="modificar()">Modificar publicacion</ion-button>            
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

