<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <div class="logo-container">
      <img src="../assets/icon/logo.jpg" alt="Logo" class="logo" />
    </div>
    <ion-title class="centered-title" color="light">
      2Market
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <!---->
      <ion-col size="6">
        <ion-card color="medium">
          <img src="../assets/icon/polerabasica.jpg" alt="Imagen centrada" />
          <ion-card-header>
            <ion-button fill="clear" [routerLink]="['/detalle-publicacion', 9]">Polera Básica Slim Fit</ion-button>
          </ion-card-header>
          <ion-card-content>
            <ion-label>Estado: Un uso</ion-label>
            <ion-label>$23.990</ion-label>
              <div class="button-container">
                <ion-button fill="clear" (click)="showAddAlert()">
                  <ion-icon name="add-circle-sharp"></ion-icon>
                </ion-button>
                <ion-button fill="clear" (click)="showFavoriteAlert()">
                  <ion-icon name="bookmark-sharp"></ion-icon>
                </ion-button>
              </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <!---->
      <ion-col size="6">
        <ion-card color="medium">
          <img src="../assets/icon/poleraudechile.jpg" alt="Imagen centrada" />
          <ion-card-header>
            <ion-button fill="clear" [routerLink]="['/detalle-publicacion', 11]">Polera Universidad de Chile 23/24</ion-button>
          </ion-card-header>
          <ion-card-content>
            <ion-label>Estado: Usado </ion-label>
            <ion-label>$34.990</ion-label>
              <div class="button-container">
                <ion-button fill="clear" (click)="showAddAlert()">
                  <ion-icon name="add-circle-sharp"></ion-icon>
                </ion-button>
                <ion-button fill="clear" (click)="showFavoriteAlert()">
                  <ion-icon name="bookmark-sharp"></ion-icon>
                </ion-button>
              </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <!---->
      <ion-col size="6">
        <ion-card color="medium">
          <!--CARD DE ROPA-->
          <img src="../assets/icon/polerapalm.jpg" alt="Imagen centrada" />
          <ion-card-header>
            <ion-button fill="clear" [routerLink]="['/detalle-publicacion', 12]">Polera Palm Angels</ion-button>
          </ion-card-header>
        
          <ion-card-content>
            <ion-label>Estado: Nuevo</ion-label>
            <ion-label>$29.990</ion-label>
              <div class="button-container">
                <ion-button fill="clear" (click)="showAddAlert()">
                  <ion-icon name="add-circle-sharp"></ion-icon>
                </ion-button>
                <ion-button fill="clear" (click)="showFavoriteAlert()">
                  <ion-icon name="bookmark-sharp"></ion-icon>
                </ion-button>
              </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <!---->
      <ion-col size="6">
        <ion-card color="medium">
          <!--CARD DE ROPA-->
            <img src="../assets/icon/poleracolocolo.jpg" alt="Imagen centrada" />
          <ion-card-header>
            <ion-button fill="clear" [routerLink]="['/detalle-publicacion', 10]">Polera Colo Colo 24/25</ion-button>
          </ion-card-header>
        
          <ion-card-content>
            <ion-label>Estado: Nuevo</ion-label>
            <ion-label>$34.990</ion-label>
              <div class="button-container">
                <ion-button fill="clear" (click)="showAddAlert()">
                  <ion-icon name="add-circle-sharp"></ion-icon>
                </ion-button>
                <ion-button fill="clear" (click)="showFavoriteAlert()">
                  <ion-icon name="bookmark-sharp"></ion-icon>
                </ion-button>
              </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <!---->
    </ion-row>
  </ion-grid>
</ion-content>
