<ion-header>
  <ion-toolbar>
    <div class="logo-container">
      <img src="../assets/icon/logo.jpg" alt="Logo" class="logo" />
    </div>
    <ion-title class="centered-title" color="light">
      2Market
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="profile-content">
  <!-- Opciones del perfil -->
  <div class="profile-options">
    <ion-item [routerLink]="['/modificarcontrasena']">
      <ion-icon slot="start" name="alert-circle"></ion-icon>
      <ion-label>Modificar Contraseña</ion-label>
    </ion-item>
    <ion-item [routerLink]="['/editar-perfil']">
      <ion-icon slot="start" name="create"></ion-icon>
      <ion-label>Editar Perfil</ion-label>
    </ion-item>
    <ion-item (click)="logout()">
      <ion-icon slot="start" name="log-out"></ion-icon>
      <ion-label>Cerrar sesión</ion-label>
    </ion-item>
  </div>

  <!-- Contenedor del perfil -->
  <div class="profile-container">
    <div class="profile-header">
      <ion-avatar class="profile-avatar">
        <img src="assets/icon/chaquetaamiri.jpg" alt="Imagen de perfil">
      </ion-avatar>
  
      <ion-card class="profile-card">
        <ion-card-header>
          <ion-card-title>
            {{ userDetails.nombre || 'AAAAAA' }}
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>Correo electrónico:</p>
          <br>
          <p>{{ userDetails.correo || 'martin@gmail.com' }}</p>
          <p>Teléfono: </p>
          <br>
          <p>{{ userDetails.telefono || '12345678' }}</p>
        </ion-card-content>
      </ion-card>
    </div>
  
    <!-- Mensaje de información o error -->
    <div *ngIf="mensaje" class="mensaje-info">
      {{ mensaje }}
    </div>
  
    <!-- Publicaciones -->
    <div class="publicaciones-container">
      <h3>Mis Publicaciones</h3>
      <ion-list>
        <!--  
        <ion-item *ngFor="let publicacion of arregloPublicacion">
          <ion-thumbnail slot="start">
            <img [src]="publicacion.imagen" alt="Imagen de la publicación">
          </ion-thumbnail>
          <ion-label>
            <h2>{{ publicacion.titulo }}</h2>
            <p>{{ publicacion.descripcion }}</p>
            <p>Precio: {{ publicacion.precio }}</p>
            <p>Ubicación: {{ publicacion.ubicacion }}</p>
            <p>Talla: {{ publicacion.talla }}</p>
            <p>Color: {{ publicacion.color }}</p>
          </ion-label>
        </ion-item>
        -->
      </ion-list>
    </div>
  </div>
</ion-content>