ion-content {
  --background: url(https://i.pinimg.com/564x/10/05/4e/10054eb016fbdb32ddbd16c57c92c36a.jpg);
  background-size: cover; // Asegura que la imagen de fondo cubra todo el contenido
  background-position: center; // Centra la imagen de fondo
  padding: 16px; // Agrega un poco de espacio alrededor del contenido
}
ion-grid {
  ion-row {
    ion-col {
      display: flex;
      justify-content: center; 
      align-items: center; 
      border: 1px solid #000; 
      border-radius: 8px; 
      padding: 0; 
      height: auto; 
      box-sizing: border-box; 

      ion-button {
        --padding-start: 10px; 
        --padding-end: 10px; 
        --color: #000; 
        --background: transparent; 
        --border-radius: 0; 

        &.ion-activated {
          font-weight: bold; 
        }

        &:hover {
          font-weight: bold; 
        }
        ion-icon {
          font-size: 20px; 
          margin-bottom: 15px; 
        }
      }
    }
  }
}
ion-list {
  margin: 0; // Elimina el margen predeterminado
  padding: 0; // Elimina el padding predeterminado
}

ion-item {
  background: rgba(255, 255, 255, 0.9); // Fondo blanco con opacidad para un mejor contraste
  border-radius: 8px; // Bordes redondeados
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); // Sombra suave
  margin-bottom: 16px; // Espaciado entre elementos de la lista
  display: flex; // Usa flexbox para organizar el contenido
  align-items: center; // Alinear verticalmente el contenido
}

ion-thumbnail {
  width: 80px; // Tamaño de la imagen
  height: 80px; // Tamaño de la imagen
}

.product-info {
  display: flex; // Usa flexbox para organizar los elementos dentro del item
  flex-direction: column; 
  justify-content: center; 
  padding: 16px; // Espaciado interno
  flex-grow: 1; // Permite que ocupe el espacio disponible

  h2 {
    color: #333; // Color del texto del nombre del producto
    margin: 0; // Sin margen
    font-size: 16px; // Tamaño de fuente
  }

  h3 {
    color: #555; // Color del texto del precio
    margin: 5px 0; // Margen vertical
    font-size: 14px; // Tamaño de fuente
  }

  .vendedor {
    color: #777; // Color para el nombre del vendedor
    font-size: 12px; // Tamaño de fuente para el vendedor
    margin-top: 5px; // Margen superior
  }
}

.product-actions {
  display: flex; // Usar flexbox para los botones de acción
  align-items: center; // Alinear verticalmente

  .quantity-button,
  .product-quantity {
    display: none; // Ocultar botones de cantidad y cantidad
  }

  .eliminar-button {
    margin-top: 10px; // Margen superior para el botón de eliminar
  }
}

.clear-cart-button {
  margin-top: 16px; // Margen superior para el botón de vaciar carrito
  --background: #f44336; // Color de fondo rojo
  --color: white; // Color del texto blanco
  --border-radius: 8px; // Bordes redondeados
}

.total-container {
  margin-top: 24px; // Margen superior para el contenedor total
  text-align: center; // Centrar el texto

  h3 {
    color: #333; // Color del texto para subtotal y total
    margin: 8px 0; // Margen vertical
  }

  .pay-button {
    margin-top: 16px; // Margen superior para el botón de pago
    --background: #4caf50; // Color de fondo verde
    --color: white; // Color del texto blanco
    --border-radius: 8px; // Bordes redondeados
  }
}

.cart-icon {
  font-size: 60px; // Tamaño de icono
  color: #007bff; // Color del icono
}

.explore-button {
  --background: #2196f3; // Color de fondo azul
  --color: white; // Color del texto blanco
  margin-top: 16px; // Margen superior
}