<ion-content [fullscreen]="true" class="cart-content">
  <ion-header>
    <ion-toolbar>
      <div class="logo-container">
        <img src="../assets/icon/logo.jpg" alt="Logo" class="logo" />
      </div>
      <ion-title class="centered-title" color="light">
        2Market
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <div *ngIf="productosCarrito.length > 0; else emptyCart">
    <ion-list>
      <ion-item *ngFor="let producto of productosCarrito; let i = index">
        <ion-thumbnail slot="start">
          <img [src]="producto.foto_publicacion" alt="Imagen del producto">
        </ion-thumbnail>
        <ion-label class="product-info">
          <div class="product-details">
            <h2>{{ producto.titulo || 'Producto sin nombre' }}</h2>
            <p>Precio unitario: ${{ producto.precio || 0 }}</p>
            <p>Cantidad: {{ producto.cantidad || 1 }}</p>
            <p>Subtotal: ${{ ((producto.precio || 0) * (producto.cantidad || 1)).toFixed(2) }}</p>
          </div>
          <div class="action-buttons">
            <ion-button color="danger" class="eliminar-button" (click)="eliminarProducto(producto.producto_id)">
              Eliminar
            </ion-button>
          </div>
        </ion-label>
      </ion-item>
    </ion-list>

    <ion-item class="ion-color">
      <ion-label>Moneda Destino</ion-label>
      <ion-select [(ngModel)]="MonedaDefecto" (ionChange)="convertirMoneda()">
        <ion-select-option *ngFor="let x of Monedas" [value]="x">
          {{ x }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <div class="total-container">
      <h3>Total: ${{ precioTotal.toFixed(2) }}</h3>
    </div>
    <div class="total-container">
      <h3>Total Convertido en {{MonedaDefecto}}: ${{ TotalConvertido.toFixed(2) }}</h3>
    </div>

    <ion-button class="clear-cart-button" expand="full" (click)="vaciarCarrito()">Vaciar carrito</ion-button>
    <ion-button expand="full" color="success" routerLink="/pago" class="boton-pago">
      Proceder al Pago
    </ion-button>
  </div>

  <ng-template #emptyCart>
    <ion-card>
      <ion-card-header>
        <ion-icon name="cart-outline" class="cart-icon"></ion-icon>
        <p>Tu carrito está vacío</p>
        <p class="explore-text">¿Qué esperas? Explora nuestra colección y empieza a comprar.</p>
      </ion-card-header>
    </ion-card>
  </ng-template>
</ion-content>