ion-grid {
    ion-row {
      ion-col {
        display: flex;
        justify-content: center; 
        align-items: center; 
        border: 1px solid #000; 
        border-radius: 8px; 
        padding: 0; 
        height: auto; 
        box-sizing: border-box; 
  
        ion-button {
          --padding-start: 10px; 
          --padding-end: 10px; 
          --color: #000; 
          --background: transparent; 
          --border-radius: 0; 
  
          &.ion-activated {
            font-weight: bold; 
          }
  
          &:hover {
            font-weight: bold; 
          }
          ion-icon {
            font-size: 20px; /* Tamaño del icono */
            margin-bottom: 15px; /* Espacio entre el icono y el texto */
          }
        }
      }
    }
  }
  .center-content {
    display: flex;
    flex-direction: column; /* Alinea el icono y el texto en una columna */
    justify-content: center; /* Centra verticalmente */
    align-items: center; /* Centra horizontalmente */
    height: 100vh; /* Ocupa toda la altura de la pantalla */
    text-align: center; /* Centra el texto */
    color: #000; /* Color negro para el texto y el icono */
  }
  
  ion-icon {
    font-size: 60px; /* Tamaño del icono */
    margin-bottom: 15px; /* Espacio entre el icono y el texto */
  }
  
  