<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button fill="clear" [routerLink]="['/tabs/carrito']">
          Carrito
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button fill="clear">
          Favoritos
          <ion-icon slot="end" name="bookmark-sharp"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Mostrar favoritos si existen -->
  <div *ngIf="favoritos.length > 0; else emptyFavorites">
    <ion-list>
      <ion-item *ngFor="let favorito of favoritos">
        <ion-thumbnail slot="start">
          <img [src]="favorito.foto">
        </ion-thumbnail>
        <ion-label>
          <h2>{{ favorito.titulo }}</h2>
          <h3>Precio: ${{ favorito.precio }}</h3>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>

  <!-- Mostrar si no hay favoritos -->
  <ng-template #emptyFavorites>
    <div class="center-content">
      <ion-icon name="bookmark-outline"></ion-icon>
      <ion-label>Aún no tiene ningún producto en favoritos</ion-label>
      <p>{{ favoritos.length }}</p> <!-- Mostrar el conteo de favoritos para depuración -->
    </div>
  </ng-template>
</ion-content>
