<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button fill="clear" [routerLink]="['/tabs/carrito']">
          Carrito
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button fill="clear">
          Favoritos
          <ion-icon slot="end" name="bookmark-sharp"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="center-content">
    <ion-icon name="bag-outline"></ion-icon>
    <ion-label>Inicie Sesión Para Acceder a Favoritos</ion-label>
  </div>
</ion-content>
