ion-header {
  ion-toolbar {
    --background: #7e7474;
    --color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    .centered-title {
      flex: 1;
      text-align: center;
    }
  }
}

.contenido-pago {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Ajusta la altura mínima para cubrir toda la pantalla */
  background-image: url('https://i.pinimg.com/564x/10/05/4e/10054eb016fbdb32ddbd16c57c92c36a.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.compra-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8); /* Fondo semitransparente */
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

ion-card-title {
  font-size: 1.5rem;
  color: #4CAF50;
  margin-bottom: 20px;

  &.compra-error {
    color: #d9534f;
  }
}

ion-item {
  --background: transparent;
  margin-bottom: 10px;
}

ion-label {
  font-weight: bold;
  color: #333;
}

ion-text {
  font-size: 1rem;
  color: #555;
}

ion-button {
  --background: #000;
  --color: white;
  font-weight: bold;
  border-radius: 5px;
  margin-top: 20px;
  padding: 12px 0;
}

@media (max-height: 600px) {
  .contenido-pago {
    height: auto;
  }
}