<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="centered-title" color="light">
      2Market
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <!---->
      <ion-col size="6">
        <ion-card color="medium">
          <img src="../assets/icon/vapormax.jpg" alt="Imagen centrada" />
          <ion-card-header>
            <ion-button fill="clear">Vapor Max Plus "Metallic Gold"</ion-button>
          </ion-card-header>
          <ion-card-content>
            <ion-label>Estado: Nuevo</ion-label>
            <ion-label>$90.000</ion-label>
              <div class="button-container">
                <ion-button fill="clear">
                  <ion-icon name="add-circle-sharp"></ion-icon>
                </ion-button>
                <ion-button fill="clear">
                  <ion-icon name="bookmark-sharp"></ion-icon>
                </ion-button>
              </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <!---->
      <ion-col size="6">
        <ion-card color="medium">
          <img src="../assets/icon/airforceblancas.jpg" alt="Imagen centrada" />
          <ion-card-header>
            <ion-button fill="clear">Air Force One "Triple White"</ion-button>
          </ion-card-header>
          <ion-card-content>
            <ion-label>Estado: Usado </ion-label>
            <ion-label>$70.000</ion-label>
              <div class="button-container">
                <ion-button fill="clear">
                  <ion-icon name="add-circle-sharp"></ion-icon>
                </ion-button>
                <ion-button fill="clear">
                  <ion-icon name="bookmark-sharp"></ion-icon>
                </ion-button>
              </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <!---->
      <ion-col size="6">
        <ion-card color="medium">
          <!--CARD DE ROPA-->
          <img src="../assets/icon/retro3.jpg" alt="Imagen centrada" />
          <ion-card-header>
            <ion-button fill="clear">Air Jordan Retro 3</ion-button>
          </ion-card-header>
        
          <ion-card-content>
            <ion-label>Estado: Nuevo</ion-label>
            <ion-label>$50.000</ion-label>
              <div class="button-container">
                <ion-button fill="clear">
                  <ion-icon name="add-circle-sharp"></ion-icon>
                </ion-button>
                <ion-button fill="clear">
                  <ion-icon name="bookmark-sharp"></ion-icon>
                </ion-button>
              </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <!---->
      <ion-col size="6">
        <ion-card color="medium">
          <!--CARD DE ROPA-->
            <img src="../assets/icon/campus.jpg" alt="Imagen centrada" />
          <ion-card-header>
            <ion-button fill="clear">Adidas Campus 00</ion-button>
          </ion-card-header>
        
          <ion-card-content>
            <ion-label>Estado: Nuevo</ion-label>
            <ion-label>$90.000</ion-label>
              <div class="button-container">
                <ion-button fill="clear">
                  <ion-icon name="add-circle-sharp"></ion-icon>
                </ion-button>
                <ion-button fill="clear">
                  <ion-icon name="bookmark-sharp"></ion-icon>
                </ion-button>
              </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <!---->
    </ion-row>
  </ion-grid>
</ion-content>
