<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="centered-title" color="light">
      2Market
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="login-content">
  <div class="center-content">
    <ion-card class="login-card">
      <ion-card-header>
        <ion-card-title>Iniciar sesión</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <form [formGroup]="formularioLogin" (ngSubmit)="ingresar()">
          <ion-item>
            <ion-label position="floating">Correo</ion-label>
            <ion-input formControlName="email" type="email"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input formControlName="password" type="password"></ion-input>
          </ion-item>
          <ion-button class="custom-button" expand="block" type="submit">
            Ingresar
          </ion-button>
        </form>
        <ion-button class="register-button" expand="block" [routerLink]="['/register']">
          Registrarse
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>


