<ion-content class="login-content">
  <div class="center-content">
    <ion-card class="login-card">
      <ion-card-header>
        <ion-card-title>Iniciar sesión</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <form [formGroup]="formularioLogin" (ngSubmit)="ingresar()">
          <ion-item>
            <ion-label position="floating">Correo</ion-label>
            <ion-input formControlName="email" type="email" [(ngModel)]="correo"></ion-input>
          </ion-item>
          <!-- Mostrar error del correo -->
          <ion-text color="danger" *ngIf="emailErrorMessage">
            {{ emailErrorMessage }}
          </ion-text>
          <ion-item>
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input formControlName="password" type="password"></ion-input>
          </ion-item>
          <!-- Mostrar error de la contraseña -->
          <ion-text color="danger" *ngIf="passwordErrorMessage">
            {{ passwordErrorMessage }}
          </ion-text>
          <ion-button class="custom-button" expand="block" type="submit">
            Ingresar
          </ion-button>
        </form>
        <!-- Botón de "Olvidaste tu contraseña?" -->
        <ion-button fill="clear" color="primary" [routerLink]="['/recuperarcontrasena']">
          ¿Olvidaste tu contraseña?
        </ion-button>
        <ion-button class="register-button" expand="block" [routerLink]="['/register']">
          Registrarse
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>



