<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title ion-title color="light">
      2Market
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <mat-card class="product-details-card" appearance="outlined">
    <img mat-card-image src="../assets/icon/chaquetaamiri.jpg" alt="Chaqueta Amiri">
    
    <mat-card-header>
      <mat-card-title>Chaqueta Amiri</mat-card-title>
      <mat-card-subtitle>Estado: Nuevo</mat-card-subtitle>
      <mat-card-subtitle>$79.990</mat-card-subtitle>
    </mat-card-header>
    <br>
    <mat-card-content>
      <p> Esta buenas condiciones, 
        con detalles de diseño que destacan su calidad y un estilo moderno que sigue siendo relevante.</p>
      <p><strong>Ubicación:</strong> Puerto Montt</p> 
      <p><strong>Talla:</strong> L</p>
      <p><strong>Color:</strong> Negra</p>
    </mat-card-content>
    
    <mat-card-actions>
      <ion-button expand="block" >Añadir al Carrito</ion-button>
      <ion-button expand="block" >Contactar Vendedor</ion-button>
    </mat-card-actions>
  </mat-card>
</ion-content>
