ion-header {
  ion-toolbar {
    --background: #7e7474;
    --color: #ffffff;
    display: flex; /* Habilita el uso de flexbox */
    justify-content: space-between; /* Espacia el contenido */
    align-items: center; /* Centra verticalmente */
    position: relative; /* Necesario para posicionar elementos absolutamente */

    .logo {
      position: absolute; /* Posiciona el logo de forma absoluta */
      top: 10px; /* Espaciado desde la parte superior */
      right: 10px; /* Espaciado desde la derecha */
      width: 40px; /* Ajusta el tamaño del logo según sea necesario */
      height: auto; /* Mantiene la proporción del logo */
    }

    .centered-title {
      flex: 1; /* Asegura que el título ocupe el espacio disponible */
      text-align: center; /* Centra el título horizontalmente */
    }
  }
}

ion-content{
    --background: url(https://i.pinimg.com/564x/10/05/4e/10054eb016fbdb32ddbd16c57c92c36a.jpg);
  }
  ion-content {
    --background: #f8f8f8; /* Fondo gris claro para el contenido */
  }
  
  ion-item {
    --background: #fff; /* Fondo blanco para los elementos de la lista */
    --box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    --border-radius: 8px; /* Bordes redondeados */
    margin-bottom: 8px; /* Espacio entre elementos de la lista */
  }
  
  ion-icon {
    font-size: 1.5em; /* Tamaño del ícono */
    color: #007aff; /* Color del ícono */
  }
  
  ion-label {
    h2 {
      font-size: 1.4em;
      font-weight: bold;
      margin-bottom: 8px; /* Espacio debajo del título */
    }
  
    h3 {
      font-size: 1.2em;
      font-weight: bold;
      margin-bottom: 4px; /* Espacio debajo del subtítulo */
    }
  
    p {
      font-size: 0.9em;
      color: #666; /* Color de texto */
    }
  }