ion-header {
  ion-toolbar {
    --background: #7e7474;
    --color: #ffffff;
    display: flex; /* Habilita el uso de flexbox */
    justify-content: space-between; /* Espacia el contenido */
    align-items: center; /* Centra verticalmente */
    position: relative; /* Necesario para posicionar elementos absolutamente */

    .logo {
      position: absolute; /* Posiciona el logo de forma absoluta */
      top: 10px; /* Espaciado desde la parte superior */
      right: 10px; /* Espaciado desde la derecha */
      width: 40px; /* Ajusta el tamaño del logo según sea necesario */
      height: auto; /* Mantiene la proporción del logo */
    }

    .centered-title {
      flex: 1; /* Asegura que el título ocupe el espacio disponible */
      text-align: center; /* Centra el título horizontalmente */
    }
  }
}

ion-content {
  --background: url(https://i.pinimg.com/564x/10/05/4e/10054eb016fbdb32ddbd16c57c92c36a.jpg);

  .custom-card {
    margin: 20px;
    border-radius: 10px;
  }

  .title-button {
    --color: #ffffff; /* Texto blanco */
    --background: transparent; 
    font-size: 1.2em;
    font-weight: bold;
  }

  mat-card-title, mat-card-subtitle {
    color: #ffffff; 
    font-size: 1.1em;
  }

  .action-button {
    --color: #ffffff; /* Texto blanco */
    --background: #000000; /* Fondo negro */
    --background-focused: #000000;
    --background-hover: #000000;
    --background-activated: #000000;
    font-size: 1em;
    margin-top: 10px;
    border-radius: 5px; /* Borde redondeado */
    font-weight: bold;
  } 

  p {
    color: #ffffff; 
    font-size: 1em;
  }
}