<ion-header>
  <ion-toolbar>
    <ion-title class="centered-title" color="light">
      2Market
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <h2 class="welcome-title">
    ¡BIENVENIDO A 2MARKET!
  </h2>

  <div class="carousel-container">
    <ion-button fill="clear" (click)="prevSlide()" class="arrow-button">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>

    <ion-img [src]="currentImagen" class="carousel-imagen"></ion-img>

    <div class="descripcion">
      {{ currentDescripcion }}
    </div>

    <ion-button fill="clear" (click)="nextSlide()" class="arrow-button">
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-button>
  </div>
</ion-content>