<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="centered-title" color="light">
      2Market
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <mat-card class="product-details-card" appearance="outlined">
    <img mat-card-image src="../assets/icon/poleracolocolo.jpg" alt="Polera Colo Colo 24/25">
    
    <mat-card-header>
      <mat-card-title>Polera Colo Colo 24/25</mat-card-title>
      <mat-card-subtitle>Estado: Nuevo</mat-card-subtitle>
      <mat-card-subtitle>$34.990</mat-card-subtitle>
    </mat-card-header>
    <br>
    <mat-card-content>
      <p> Es una polera de segunda mano que todavía está en muy buen estado. 
        Tiene un estilo clásico y sigue siendo cómoda para usar a diario.</p>
      <p><strong>Ubicación:</strong>Puente Alto</p> 
      <p><strong>Talla:</strong> M</p>
      <p><strong>Color:</strong> Blanco</p>
    </mat-card-content>
    
    <mat-card-actions>
      <ion-button expand="block" >Añadir al Carrito</ion-button>
      <ion-button expand="block" >Contactar Vendedor</ion-button>
    </mat-card-actions>
  </mat-card>
</ion-content>
