ion-header {
  ion-toolbar {
    --background: #3b3b3b;
    --color: #ffffff;

    .centered-title {
      text-align: center;
      width: 100%;
    }
  }
}

ion-content {
  --background: url(https://i.pinimg.com/564x/10/05/4e/10054eb016fbdb32ddbd16c57c92c36a.jpg);
  
  .section-title {
    text-align: center;
    font-size: 1.8em;
    margin: 20px 0;
    color: #333;
  }

  .action-card {
    --background: #ffffff;
    --border-radius: 15px;
    --box-shadow: 0 3px 14px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;

    .custom-button {
      margin-top: 15px;
      --border-radius: 8px;
      --box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
      --padding: 10px;
      font-size: 1.1em;
      font-weight: bold;
    }
  }
}
