<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="centered-title" color="light">
      Administrador - Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <h2 class="section-title">Panel de Administración</h2>
        <ion-card class="action-card">
          <ion-card-content>
            <ion-button class="custom-button" expand="block" color="primary" [routerLink]="['/admin-usuarios']">
              Ver Usuarios
            </ion-button>
            <ion-button class="custom-button" expand="block" color="secondary" [routerLink]="['/admin-publicaciones']">
              Ver Publicaciones
            </ion-button>
            <ion-item>
              <ion-input label="Titulo Noticia" labelPlacement="floating" placeholder="Ingrese el nombre" [(ngModel)]="nombre"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input label="Contenido Noticia" labelPlacement="floating" placeholder="Ingrese la descripción" [(ngModel)]="descripcion"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input label="Titulo Noticia" labelPlacement="floating" placeholder="Ingrese la talla" [(ngModel)]="talla"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input label="Contenido Noticia" labelPlacement="floating" placeholder="Ingrese la ubicación"  [(ngModel)]="ubicacion"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input label="Titulo Noticia" labelPlacement="floating" placeholder="Ingrese el color" [(ngModel)]="color"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input label="Contenido Noticia" labelPlacement="floating" placeholder="Ingrese el precio"  [(ngModel)]="precio"></ion-input>
            </ion-item>
            <ion-button class="custom-button" expand="block" color="secondary" (click)="addProducto()">
              Agregar
            </ion-button>

          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>