<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <div class="logo-container">
      <img src="../assets/icon/logo.jpg" alt="Logo" class="logo" />
    </div>
    <ion-title class="centered-title" color="light">
      2Market
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <mat-card class="product-details-card" *ngIf="publicacion">
    <img mat-card-image [src]="publicacion.foto_publicacion" alt="Foto de publicación">
    
    <mat-card-header>
      <mat-card-title>{{ publicacion.titulo }}</mat-card-title>
      <mat-card-subtitle>Estado: Nuevo</mat-card-subtitle>
      <mat-card-subtitle>{{ publicacion.precio | currency }}</mat-card-subtitle>
    </mat-card-header>
    <br>
    <mat-card-content>
      <p>{{ publicacion.descripcion }}</p>
      <p><strong>Ubicación:</strong> {{ publicacion.ubicacion }}</p> 
      <p><strong>Talla:</strong> {{ publicacion.talla }}</p>
      <p><strong>Color:</strong> {{ publicacion.color }}</p>
    </mat-card-content>
    
    <mat-card-actions>
      <ion-button expand="block" (click)="addToCart(publicacion.producto_id)">Añadir al Carrito</ion-button>
    </mat-card-actions>
  </mat-card>
</ion-content>

