ion-header {
  ion-toolbar {
    --background: #7e7474;
    --color: #ffffff;
    display: flex; /* Habilita el uso de flexbox */
    justify-content: space-between; /* Espacia el contenido */
    align-items: center; /* Centra verticalmente */
    position: relative; /* Necesario para posicionar elementos absolutamente */

    .logo {
      position: absolute; /* Posiciona el logo de forma absoluta */
      top: 10px; /* Espaciado desde la parte superior */
      right: 10px; /* Espaciado desde la derecha */
      width: 40px; /* Ajusta el tamaño del logo según sea necesario */
      height: auto; /* Mantiene la proporción del logo */
    }

    .centered-title {
      flex: 1; /* Asegura que el título ocupe el espacio disponible */
      text-align: center; /* Centra el título horizontalmente */
    }
  }
}
    ion-content {
      --background: url(https://i.pinimg.com/564x/10/05/4e/10054eb016fbdb32ddbd16c57c92c36a.jpg);
      
      .custom-card {
          margin: 20px;
          border-radius: 10px;
        }
        
        .title-button {
          --color: #ffffff; /* Texto negro */
          --background: transparent; 
          font-size: 1.2em;
          font-weight: bold;
        }
        
        mat-card-title, mat-card-subtitle {
          color: #ffffff; 
          font-size: 1.1em;
        }
        
        .action-button {
          --color: #030303; /* Color de texto similar a los otros botones */
          --background: transparent;
          --background-focused: transparent; 
          --background-hover: transparent; 
          --background-activated: transparent; 
          font-size: 1em;
          margin-top: 10px;
        } 
  
        p{
          color: #ffffff; 
          font-size: 1em;
        }
    }