<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <div class="logo-container">
      <img src="../assets/icon/logo.jpg" alt="Logo" class="logo" />
    </div>
    <ion-title class="centered-title" color="light">
      2Market
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <mat-card class="upload-card" appearance="outlined">
    <mat-card-header>
      <mat-card-title>Subir Nueva Publicación</mat-card-title>
    </mat-card-header>
    
    <mat-card-content>
      <form [formGroup]="formularioPublicacion" (ngSubmit)="subirPublicacion()">
        <!-- TITULO -->
        <div class="input-group">
          <label for="title">Título:</label>
          <input id="title" type="text" formControlName="title" placeholder="Título del producto" >
          <ion-text color="danger" *ngIf="formularioPublicacion.get('title')?.invalid && formularioPublicacion.get('title')?.touched">
            {{ getErrorMessage('title') }}
          </ion-text>
        </div>
        <!-- DESCRIPCION -->
        <div class="input-group">
          <label for="description">Descripción:</label>
          <textarea id="description" formControlName="description" placeholder="Descripción del producto" ></textarea>
          <ion-text color="danger" *ngIf="formularioPublicacion.get('description')?.invalid && formularioPublicacion.get('description')?.touched">
            {{ getErrorMessage('description') }}
          </ion-text>
        </div>
        <!-- PRECIO -->
        <div class="input-group">
          <label for="price">Precio:</label>
          <input id="price" type="number" formControlName="price" placeholder="Precio en CLP" >
          <ion-text color="danger" *ngIf="formularioPublicacion.get('price')?.invalid && formularioPublicacion.get('price')?.touched">
            {{ getErrorMessage('price') }}
          </ion-text>
        </div>
        <!-- UBICACION -->
        <div class="input-group">
          <label for="location">Ubicación:</label>
          <input id="location" type="text" formControlName="location" placeholder="Ubicación" >
          <ion-text color="danger" *ngIf="formularioPublicacion.get('location')?.invalid && formularioPublicacion.get('location')?.touched">
            {{ getErrorMessage('location') }}
          </ion-text>
        </div>
        <!-- TALLA -->
        <div class="input-group">
          <label for="size">Talla:</label>
          <input id="size" type="text" formControlName="size" placeholder="Talla" >
          <ion-text color="danger" *ngIf="formularioPublicacion.get('size')?.invalid && formularioPublicacion.get('size')?.touched">
            {{ getErrorMessage('size') }}
          </ion-text>
        </div>
        <!-- COLOR -->
        <div class="input-group">
          <label for="color">Color:</label>
          <input id="color" type="text" formControlName="color" placeholder="Color" >
          <ion-text color="danger" *ngIf="formularioPublicacion.get('color')?.invalid && formularioPublicacion.get('color')?.touched">
            {{ getErrorMessage('color') }}
          </ion-text>
        </div>
        <!-- IMAGEN -->
        <div class="input-group">
          <label for="image">Imagen:</label>
          <input id="image" type="file" formControlName="image" accept="image/*">
        </div>
        <!-- BOTON DE SUBIR PUBLI -->
        <mat-card-actions>
          <ion-button expand="full" fill="solid" color="primary" type="submit" [disabled]="formularioPublicacion.invalid">Subir Publicación</ion-button>
        </mat-card-actions>
      </form>
    </mat-card-content>
  </mat-card>
</ion-content>
