<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <div class="logo-container">
      <img src="../assets/icon/logo.jpg" alt="Logo" class="logo" />
    </div>
    <ion-title class="centered-title" color="light">
      2Market
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <mat-card class="upload-card" appearance="outlined">
    <mat-card-header>
      <mat-card-title>Subir Nueva Publicación</mat-card-title>
    </mat-card-header>
    
    <mat-card-content>
      <form [formGroup]="formularioPublicacion" (ngSubmit)="subirPublicacion()">
        <!-- TITULO -->
        <div class="input-group">
          <label for="titulo">Título:</label>
          <input id="titulo" type="text" formControlName="titulo" placeholder="Título del producto" [(ngModel)]="titulo">
          <ion-text color="danger" *ngIf="formularioPublicacion.get('titulo')?.invalid && formularioPublicacion.get('titulo')?.touched">
            {{ getErrorMessage('titulo') }}
          </ion-text>
        </div>
        <!-- DESCRIPCION -->
        <div class="input-group">
          <label for="descripcion">Descripción:</label>
          <textarea id="descripcion" formControlName="descripcion" placeholder="Descripción del producto" [(ngModel)]="descripcion"></textarea>
          <ion-text color="danger" *ngIf="formularioPublicacion.get('descripcion')?.invalid && formularioPublicacion.get('descripcion')?.touched">
            {{ getErrorMessage('descripcion') }}
          </ion-text>
        </div>
        <!-- TALLA -->
        <div class="input-group">
          <label for="talla">Talla:</label>
          <input id="talla" type="text" formControlName="talla" placeholder="Talla" [(ngModel)]="talla">
          <ion-text color="danger" *ngIf="formularioPublicacion.get('talla')?.invalid && formularioPublicacion.get('talla')?.touched">
            {{ getErrorMessage('talla') }}
          </ion-text>
        </div>
        <!-- UBICACION -->
        <div class="input-group">
          <label for="ubicacion">Ubicación:</label>
          <input id="ubicacion" type="text" formControlName="ubicacion" placeholder="Ubicación" [(ngModel)]="ubicacion">
          <ion-text color="danger" *ngIf="formularioPublicacion.get('ubicacion')?.invalid && formularioPublicacion.get('ubicacion')?.touched">
            {{ getErrorMessage('ubicacion') }}
          </ion-text>
        </div>
        <!-- COLOR -->
        <div class="input-group">
          <label for="color">Color:</label>
          <input id="color" type="text" formControlName="color" placeholder="Color" [(ngModel)]="color">
          <ion-text color="danger" *ngIf="formularioPublicacion.get('color')?.invalid && formularioPublicacion.get('color')?.touched">
            {{ getErrorMessage('color') }}  
          </ion-text>
        </div>
        <!-- PRECIO -->
        <div class="input-group">
          <label for="precio">Precio:</label>
          <input id="precio" type="number" formControlName="precio" placeholder="Precio en CLP" [(ngModel)]="precio">
          <ion-text color="danger" *ngIf="formularioPublicacion.get('precio')?.invalid && formularioPublicacion.get('precio')?.touched">
            {{ getErrorMessage('precio') }}
          </ion-text>
        </div>
        <!-- IMAGEN -->
        <div class="input-group">
          <label for="image">Imagen:</label>
          <input id="image" type="file" (change)="onFileSelected($event)" formControlName="image" accept="image/*">
        </div>
        <!-- BOTON DE SUBIR PUBLI -->
        <mat-card-actions>
          <ion-button expand="full" fill="solid" color="primary" type="submit" [disabled]="formularioPublicacion.invalid">Subir Publicación</ion-button>
        </mat-card-actions>
      </form>
    </mat-card-content>
  </mat-card>
</ion-content>
