ion-header {
  ion-toolbar {
    --background: #7e7474;
    --color: #ffffff;
    
    .centered-title {
      text-align: center;
      width: 100%;
    }
  }
}
ion-content{
    --background: url(https://i.pinimg.com/564x/10/05/4e/10054eb016fbdb32ddbd16c57c92c36a.jpg);
  }