<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="centered-title" color="light">
      Administrador - Publicaciones
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        aaaa
        <!--
        <h2 class="section-title">Publicaciones</h2>
        <ion-list>
           *ngFor="let publicacion of arregloPublicaciones" 
          <ion-item-sliding > 
            <ion-item>
              <ion-thumbnail slot="start">
                <img [src]="publicacion.imagen" alt="Imagen de la publicación">
              </ion-thumbnail>
              <ion-label style="word-wrap: break-word; white-space: normal;">
                <h2>{{ publicacion.titulo }}</h2>
                <p><strong>Descripción:</strong> {{ publicacion.descripcion }}</p>
                <p><strong>Precio:</strong> ${{ publicacion.precio }}</p>
                <p><strong>Ubicación:</strong> {{ publicacion.ubicacion }}</p>
                <p><strong>Talla:</strong> {{ publicacion.talla }}</p>
                <p><strong>Color:</strong> {{ publicacion.color }}</p>
              </ion-label>
            </ion-item>
        
            <ion-item-options side="end">
              <ion-item-option (click)="modificar(publicacion)">
                <ion-icon slot="icon-only" name="pencil"></ion-icon>
              </ion-item-option>
              <ion-item-option color="danger" (click)="eliminar(publicacion)">
                <ion-icon slot="icon-only" name="trash"></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
        
        <ion-fab vertical="bottom" horizontal="end" slot="fixed">
          <ion-fab-button (click)="agregar()">
            <ion-icon name="add"></ion-icon>
          </ion-fab-button>
        </ion-fab>
        -->
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

