<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="centered-title" color="light">
      Administrador - Publicaciones
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item-sliding *ngFor="let producto of productos">
      <ion-item>
        <h2>{{ producto.nombre }}</h2>
        <ion-label style="word-wrap: break-word; white-space: normal;">
          Descripción: {{ producto.descripcion }}<br>
          Talla: {{ producto.talla }}<br>
          Ubicación: {{ producto.ubicacion }}<br>
          Color: {{ producto.color }}<br>
          Precio: {{ producto.precio }} CLP
        </ion-label>
      </ion-item>
  
      <ion-item-options side="end">
        <ion-item-option (click)="modificar(producto)">
          <ion-icon slot="icon-only" name="pencil"></ion-icon>
        </ion-item-option>
        <ion-item-option color="danger" (click)="eliminar(producto)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="agregar()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

