ion-header {
  ion-toolbar {
    --background: #7e7474;
    --color: #ffffff;
    display: flex; /* Habilita el uso de flexbox */
    justify-content: space-between; /* Espacia el contenido */
    align-items: center; /* Centra verticalmente */
    position: relative; /* Necesario para posicionar elementos absolutamente */

    .logo {
      position: absolute; /* Posiciona el logo de forma absoluta */
      top: 10px; /* Espaciado desde la parte superior */
      right: 10px; /* Espaciado desde la derecha */
      width: 40px; /* Ajusta el tamaño del logo según sea necesario */
      height: auto; /* Mantiene la proporción del logo */
    }

    .centered-title {
      flex: 1; /* Asegura que el título ocupe el espacio disponible */
      text-align: center; /* Centra el título horizontalmente */
    }
  }
}
  
  ion-content {
    --background: url(https://i.pinimg.com/564x/10/05/4e/10054eb016fbdb32ddbd16c57c92c36a.jpg);
  
    .section-title {
      text-align: center;
      font-size: 1.6em;
      margin: 20px 0;
      color: #333;
    }
  
    .pub-card {
      --background: #ffffff;
      --border-radius: 10px;
      --box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
      margin-bottom: 20px;
      padding: 10px;
  
      ion-card-title {
        font-size: 1.2em;
        font-weight: bold;
        color: #333;
      }
  
      ion-card-subtitle {
        font-size: 1em;
        color: #888;
      }
  
      ion-card-content {
        p {
          margin: 0;
          color: #555;
        }
      }
    }
    ion-thumbnail img {
      object-fit: cover;
      width: 100px;
      height: 100px;
    }
    
    img {
      border-radius: 10px;
      max-width: 100%;
      margin-top: 10px;
    }
    
  }
  