.login-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    --background: url(https://i.pinimg.com/564x/10/05/4e/10054eb016fbdb32ddbd16c57c92c36a.jpg); 
  }
  
  .center-content {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    text-align: center; 
    color: #000; 
  }
  
  .login-card {
    width: 100%;
    max-width: 350px;
    border: 1px solid black; /* Borde negro para el card */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: white;
    border-radius: 10px;
  }
  
  ion-card-title {
    text-align: center;
    font-weight: bold;
    color: #000; /* Texto negro */
  }
  
  ion-button.custom-button {
    --background: #000; /* Fondo negro */
    --color: #fff; /* Texto blanco */
    font-weight: bold;
    border-radius: 5px;
    margin-top: 20px;
  }
  
  ion-item {
    --background: transparent;
  }
  
  ion-label {
    color: #000; /* Color del texto en negro */
  }
  
  ion-input {
    --color: #000; /* Texto de entrada en negro */
  }
  