<ion-content class="registro-content">
  <div class="center-content">
    <ion-card class="registro-card">
      <ion-card-content>
        <form [formGroup]="formularioRegistro" (ngSubmit)="registrar()">
          <ion-item>
            <ion-label position="floating">Nombre</ion-label>
            <ion-input formControlName="name"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Correo</ion-label>
            <ion-input formControlName="email" type="email" [(ngModel)]="correo"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input formControlName="password" type="password"></ion-input>
          </ion-item>
          <!-- ALERTAS DE CONTRASEÑA -->
          <ion-text color="danger" *ngIf="passwordErrorMessage">
            {{ passwordErrorMessage }}
          </ion-text>
          <ion-item>
            <ion-label position="floating">Teléfono</ion-label>
            <ion-input formControlName="phone"></ion-input>
          </ion-item>
          <!-- ALERTA DE NUMERO DE TELEFONO -->
          <ion-text color="danger" *ngIf="telefonoErrorMessage">
            {{ telefonoErrorMessage }}
          </ion-text>
          <ion-button class="custom-button" expand="block" type="submit">
            Registrarse
          </ion-button>
          <ion-button class="custom-button" expand="block" type="submit" [routerLink]="['/admin']">
            ADMIN
          </ion-button>          
        </form>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>