ion-header {
  ion-toolbar {
    --background: #7e7474;
    --color: #ffffff;

    .centered-title {
      text-align: center;
      width: 100%;
    }
  }
}

.registro-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  --background: url(https://i.pinimg.com/564x/10/05/4e/10054eb016fbdb32ddbd16c57c92c36a.jpg);
  background-size: cover;
  background-position: center;
}

.center-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  color: #000;
}

.registro-card {
  width: 100%;
  max-width: 350px;
  border: 1px solid black;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: white;
  border-radius: 10px;
}

ion-card-title {
  text-align: center;
  font-weight: bold;
  color: #000;
}

ion-button.custom-button {
  --background: #000;
  --color: #fff;
  font-weight: bold;
  border-radius: 5px;
  margin-top: 20px;
}

ion-item {
  --background: transparent;
}

ion-label {
  color: #000;
}

ion-input {
  --color: #000;
}

/* Estilos para mantener el espacio de las alertas */
ion-text {
  font-size: 12px;
  height: 20px; /* Fija una altura mínima */
  display: flex;
  align-items: center; /* Centrar verticalmente el texto de error */
  visibility: hidden; /* Oculta el texto por defecto */
}

ion-text.visible {
  visibility: visible; /* Solo se muestra cuando haya un error */
  color: #ff0000; /* Color de texto de error */
}

  