<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="centered-title" color="light">
      2Market
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <mat-card class="product-details-card" appearance="outlined">
    <img mat-card-image src="../assets/icon/airforceblancas.jpg" alt="Air Force One Triple White">
    
    <mat-card-header>
      <mat-card-title>Air Force One "Triple White"</mat-card-title>
      <mat-card-subtitle>Estado: Usado</mat-card-subtitle>
      <mat-card-subtitle>$70.000</mat-card-subtitle>
    </mat-card-header>
    <br>
    <mat-card-content>
      <p>Estas zapatillas de segunda mano están en excelente estado, tienen mucha vida por delante y un estilo que sigue siendo irresistible.</p>
      <p><strong>Ubicación:</strong>Puente Alto</p>
      <p><strong>Talla:</strong> 10US</p>
      <p><strong>Color:</strong> Blanco</p>
    </mat-card-content>
    
    <mat-card-actions>
      <ion-button expand="block" >Añadir al Carrito</ion-button>
      <ion-button expand="block" [routerLink]="['/bandejaentrada']">Contactar Vendedor</ion-button>
    </mat-card-actions>
  </mat-card>
</ion-content>